<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cx.ring"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher,MissingLeanbackSupport">

    <application
        android:name=".application.JamiApplicationNoPush"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute" />

</manifest>
